.card {
  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }
  &__details{
    font-family: Roboto;
    padding: 1rem;
  }

  &--item {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  &__title{
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
}





@media (min-width: 600px) {
  .card--item {
    width: 304px;
  }
}