body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 2em;
}

main {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.list--block {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.list--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 8px 0;
  width: 200px;
}

@import "card";
